*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px -- 10/16
  scroll-behavior: smooth;

  @include res(tabl) {
    font-size: 56.25%; // 9 -- 9/16
  }

  @include res(tabp) {
    font-size: 50%; // 8 -- 8/16
  }

  @include res(bigd) {
    font-size: 75%; // 12 -- 12/16
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  overflow-x: hidden;

  @include res(tabp) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
