body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.header-caption {
  margin: 0 0 4rem 0;
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--primary {
    display: block;
    margin: 0 -3.5rem 0 0;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: move-in-left 0.5s ease-out;

    @include res(phone) {
      letter-spacing: 1rem;
      margin: 0 -1rem 0 0;
      font-size: 5rem;
    }
  }

  &--secondary {
    display: block;
    margin: 0 -1.75rem 0 0;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: move-in-right 0.5s ease-out;

    @include res(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.header-secondary {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @supports (not (background-clip: text)) or
    (not (-webkit-background-clip: text)) {
    background-image: none;
    color: $color-primary;
  }

  @include res(tabp) {
    font-size: 3rem;
  }

  @include res(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skew(10deg, 1deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.25);
  }
}

.header-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
