.section-about {
  background-color: $color-grey-light;
  padding: 20rem 0;
  margin: -20vh 0 0 0;

  @include res(tabp) {
    padding-bottom: 25rem;
  }
}

.section-features {
  padding: 15rem 0;
  margin-top: -5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-4deg);

  @include res(tabp) {
    padding: 10rem 0;
  }

  & > * {
    transform: skewY(4deg);
  }
}

.section-tours {
  background-color: $color-grey-light;
  padding: 20rem 0 10rem 0;
  margin: -10vh 0 0 0;

  @include res(tabp) {
    padding: 15rem 0 0 0;
  }
}

.section-stories {
  position: relative;
  background-color: transparent;
  padding: 15rem 0;

  @include res(tabp) {
    padding: 10rem 0 5rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include res(tabp) {
    padding: 5rem 0;
  }
}
